@import "../../styles/variables.scss";

.show__details {
  color: $white;
  min-width: $minWidth;
  max-width: $maxWidth;
  margin: 0 auto;

  .show__image {
    padding: 10px 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    height: 200px;
    display: flex;
    justify-content: center;

    img {
      height: 100%;
    }
  }

  .show__title {
    color: inherit;
    font-size: 18px;
    padding: 20px 20px 0px;
    box-sizing: border-box;
    margin: 0;
  }

  .show__description {
    color: inherit;
    padding: 0 20px 0;
    margin: 0;
    font-size: 14px;
  }

  .show__type,
  .show__genres {
    color: inherit;
    padding: 0 20px 10px;
    display: block;
    font-size: 14px;

    strong {
      margin-right: 10px;
    }
  }

  .show__genres {
    padding-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    .content {
      padding: 50px 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .show__image {
      max-width: 400px;
      height: 300px;
      margin-right: 10px;
      background-color: transparent;
    }

    .show__title {
      font-size: 32px;
    }

    .show__description,
    .show__type,
    .show__genres {
      font-size: 16px;
    }
  }
}
