@import "../../styles/variables.scss";

.episodes__list {
  .episode {
    max-width: 800px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .image {
      width: 100px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        width: 100px;
        width: 100%;
      }
    }

    h4 {
      color: $white;
      margin-left: 20px;
    }
  }
}
