@import "../../styles/variables.scss";

.episodes__list {
  min-width: $minWidth;
  max-width: $maxWidth;
  margin: 0 auto;
  position: relative;
  min-height: 100px;

  .episode {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-decoration: none;

    &.active {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .image {
      width: 100px;
      min-width: 100px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        width: 100px;
        width: 100%;
      }
    }

    h4 {
      color: $white;
      padding-left: 20px;
      box-sizing: border-box;
    }
  }
}
