@import "../../styles/variables.scss";

.episode__details {
  color: $white;
  min-width: $minWidth;
  max-width: $maxWidth;
  margin: 0 auto;

  .episode__image {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);

    img {
      width: 100%;
    }
  }

  .episode__title {
    color: inherit;
    font-size: 18px;
    padding: 20px 20px 0px;
    box-sizing: border-box;
    margin: 0;
  }

  .episode__description {
    color: inherit;
    padding: 0 20px 20px;
    margin: 0;
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    padding: 50px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .episode__image {
      width: 100%;
      max-width: 400px;
      // height: 300px;
      margin-right: 10px;
      background-color: transparent;
    }

    .episode__title {
      font-size: 32px;
    }
  }
}
